RewriteEngine On


#Remove extensão do arquivo (exemplo: /pagina.php para /pagina)
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
RewriteRule ^ %1 [R,L]


# Redireciona internamente as páginas sem extensão para o arquivo correspondente (essencial para o funcionamento da página)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*?)/?$ $1.php [L] 