@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Passion+One:wght@400;900&family=Sofia+Sans+Condensed&display=swap');


.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
    
}
@font-face {
    font-family: Passion;
    src: url(../fonts/PassionOne-Regular.ttf);
 }
.logo {
    font-family: Passion;
   /* color: rgb(1, 205, 241);*/
    font-size: 180%;
}
.center {
    text-align: center;
    align-content: center;
}

.linha1{
    padding: 10px;
    width: 100%;
    margin-bottom: -18px;
    background-color: #4F4F4F;
    color: #fff;
    border-radius: 8px;
    border-left: solid #00BFFF 3px;
}

.divClear {
    color: #fff;
}

.icons {
    color :#fff;
}
